{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "presets": [
    "@babel/preset-flow"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": "current"}}],
        "@babel/preset-flow"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
    "coverage": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": "current"}}],
        "@babel/preset-flow"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "babel-plugin-istanbul"
      ]
    },
    "es5": {
      "presets": [
        ["@babel/preset-env", {"forceAllTransforms": true}],
        "@babel/preset-stage-1", "@babel/preset-flow"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
  }
}
